<header>
    <nav>
        <ul>
            <li>
                <a href="/">pagina principal</a>
            </li>
            <li>
                <a href="/contacto">contacto</a>
            </li>
            <li>
                <a href="/formulario">FORMULARIO</a>
            </li>
        </ul>
    </nav>
</header>