<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/meta')%>
</head>
<body>
    
    <%-include('../partials/headers')%>
    <h1>CONTACTO EJS</h1>

    <% products.forEach(product =>{ %>
        <h3><%= product.name %></h3>
    <%})  %>
    
</body>

</html>
